body {
    background-color: #fafafa;
    margin: 0;
    min-height: 100vh;
}

.core-context {
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    border: solid 1px #21212182;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: -110px;
    min-height: 20px;
    opacity: 0.3;
    padding: 5px 0;
    position: fixed;
    top: -2s0px;
    min-width: 110px;
}

.core-context.active {
    opacity: 1;
    transition: opacity 0.15s;
}

.core-context-action {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #212121;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    outline: none !important;
    padding: 8px 15px;
    text-align: left;
    -webkit-user-select: none;
    user-select: none;
}

.core-context-action:hover {
    background-color: rgba(0, 0, 0, 0.08);
    transition: background-color 0.2s;
}

/* Experiments... */
#action_container_1,
#action_container_2,
#action_container_3 {
    height: 80%;
    position: absolute;
    width: 80%;

    left: 10%;
    top: 10%;
}

#action_container_1 {
    background-color: #fff;
}

#action_container_2 {
    background-color: green;
    margin-top: 150px;
    margin-left: 40px;
}

#action_container_3 {
    background-color: blue;
    margin-top: -150px;
    margin-left: 280px;
}

.action-button-top-left,
.action-button-top-center,
.action-button-top-right,
.action-button-center-left,
.action-button-center-center,
.action-button-center-right,
.action-button-bottom-left,
.action-button-bottom-center,
.action-button-bottom-right {
    height: 30px;
    position: absolute;
    width: 150px;
}

.action-button-top-left {
    left: 0;
    top: 0;
}

.action-button-top-center {
    left: calc(50% - 75px);
    top: 0;
}

.action-button-top-right {
    right: 0;
    top: 0;
}

.action-button-center-left {
    left: 0;
    top: calc(50% - 15px);
}

.action-button-center-center {
    left: calc(50% - 75px);
    top: calc(50% - 15px);
}

.action-button-center-right {
    right: 0;
    top: calc(50% - 15px);
}

.action-button-bottom-left {
    bottom: 0;
    left: 0;
}

.action-button-bottom-center {
    bottom: 0;
    left: calc(50% - 75px);
}

.action-button-bottom-right {
    bottom: 0;
    right: 0;
}